<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finanza.css') }}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">PortFolio</a></li>
            <li><a href="/finanze">Finanze</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrazione</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Welcome, <span id="userName"></span></h1>
        <div class="card">
            <h2>Balance Attuale</h2>
            <p id="balance"></p>
        </div>
        <div class="card">
            <h2>Stipendio Mensile Fisso</h2>
            <p id="stipendio"></p>
        </div>
        <div class="card">
            <h2>Entrate Passive</h2>
            <p id="entrate"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/finanza.js') }}"></script>
</body>
</html>