<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body id="body">
    <div id = "main_component">
        <nav id = "nav_bar">
        <ul id= "nav_bar_container" class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/carriera">Carriera</a></li>
            <li><a href="/contatti">Contatti</a></li>
        </ul>
    </nav>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
